/* Navbar Styling Beginning */

.mainnavbar_search {
  width: 40vw !important;
  border-radius: 25px !important;
  background-color: #F1F1F1 !important;
  border-color: transparent !important;
}

.nav-item {
  font-size: .9rem;
  font-weight: bold;
  margin-right: 15px;
}

.navbar-nav > li > .dropdown-menu { 
  background-color: black; 
  color: white;
}

.dropdown-item { 
  color: white !important;
  font-size: .8rem;
}

.navbar-submit-modal {
  margin-left: 1vw;
  margin-top: 2%;
  font-size: .8rem !important;
  color: gray !important;
  font-weight: bold !important;

}

.navbar-toggler-icon {
  width: 20px !important;
}
.login_avatar {
margin-top: -4px !important;
}

/* Jumbotron Styling Beginning */

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1553949345-eb786bb3f7ba?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
}

.jumbotron_search {
  margin-left: auto !important;
  margin-right: auto !important;
  color: pink !important;
  padding-top: 2vh;
}

.jumbotron_search_input {
  width: 25vw !important;
  height: 4.5vh !important;
  float: left !important;

}

.jumbotron_container {
  width: 35vw !important;
  height: 35vh !important;
  text-align: left !important;
}

.jumbotron_brand {
  font-weight: bold !important;
  font-size: 3rem !important;
  color: white !important;
  padding-top: 3vh;
  padding-bottom: 1vh;
}

.jumbotron_lead {
  color: white !important;
  margin-bottom: -3px !important;
}

.jumbotron_search_container {
  max-width: 50px !important;
}

.jumbotron_search_icon {
  height: 4.5vh !important;
  float: right !important;

  
}

/* Homepage Gallery View */

.maingallery_row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 25vw;
}

.maingallery_column {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 5px;
}

.maingallery_column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 1200px) {
  .maingallery_column {
    flex: 100%;
    max-width: 100%;
  }
  .maingallery_row {
    padding: 0 5vw;
  }
}

/* Gallery Modal Styling */

.gallery_model_image {
  width: 100%;
  object-fit: contain;
}

.gallery_modal_username {
  padding-left: 10px;
  font-size: 1.3rem !important;
}


.gallery_modal_info_date {
  text-align: left !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  color: gray;
}

.gallery_modal_info_row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 50px;
}

.gallery_modal_info_column {
  flex: 33%;
  max-width: 33%;
  padding: 20px 35px;
  
}

.gallery_modal_info_column > p {
  font-size: .9rem;
}

#dropdown-basic::after{
  display: none !important; 
}


/* Upload Modal Styling  */
  
.upload_modal_body {
  height: 70vh;
}

.upload_modal_body_prompt {
  padding-top: 20vh;
  text-align: center;
}

.upload_modal_body_prompt > img {
  object-fit: contain;
}

.upload_modal_body_prompt > p  {
  font-size: 1.5rem;
  font-weight:800;
}

.upload_modal_body_prompt > p > span {
  color: rgb(66, 127, 241) ;
}


.upload_modal_info_row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 30px;
}

.upload_modal_info_column {
  flex: 33%;
  max-width: 33%;
  padding: 0px 10px;
  
  
}

.upload_modal_info_column > ul > li {
  font-size: .85rem;
  font-weight: 500;
  color: rgb(94, 94, 94);
}

/* Category Gallery View */

.category_column {
  flex: 100%;
  max-width: 100%;
  padding-left: 30vw;
  padding-right: 30vw;
}

.category_column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


.category_headline {
  padding-top: 5vh;
  width: 60vw !important;
  margin: 0 auto;
}

.catergory_description {
  font-size: 1rem;
  text-align: left;
  width: 30vw;
  padding-bottom: 10vh;

}

.catergory_title {
  font-size: 4rem;
  font-weight: bolder;
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .category_column {
    flex: 100%;
    max-width: 100%;
    padding-left: 1vw ;
    padding-right: 1vw ;
  
  }

  .catergory_description {
    width: 60vw;
  
  }

  .category_headline {
    padding-top: 5vh;
    width: 90vw !important;
    margin: 0 auto;
  }

}

.search_notfound_img {
  max-width: 40rem;
  object-fit: contain;

}