.mainnavbar_search {
  width: 40vw !important;
  border-radius: 25px !important;
  background-color: #F1F1F1 !important;
  border-color: transparent !important;
}

.nav-item {
  font-size: .9rem;
  font-weight: bold;
  margin-right: 15px;
}

.navbar-nav > li > .dropdown-menu { 
  background-color: black; 
  color: white;
}

.dropdown-item { 
  color: white !important;
  font-size: .8rem;
}

.navbar-submit-modal {
  margin-left: 1vw;
  margin-top: 2%;
  font-size: .8rem !important;
  color: gray !important;
  font-weight: bold !important;

}